<link rel="stylesheet" href="style.css" />
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#fileInput {
  margin-top: 20px;
  padding: 10px;
}

#uploadButton {
  margin-top: 20px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#uploadButton:hover {
  background-color: #45a049;
}
